---
layout: layout.liquid
title: About
---

<h1>About John, the Lone Interstellar Explorer</h1>
<div id="about">
    <!--Image created using AI. Model: Microsoft CoPilot. Prompt: "Create an image of a lone human interstellar explorer".-->
    <img class="about" alt="John, the Lone Space Explorer" src="/images/lone_interstellar_explorer.png" width="400" id="pic_about"/>
    <p id="about_text">Greetings, Earth bound humans! I am John, somewhat of a lone interstellar explorer. I am human, just like you most likely reading this, but I have lived in this space suit for most of my life. Starting at the age of 10, I decided that I wanted to leave Earth and explore the rest of the cosmos. I packed up my spaceship and started exploring everything that had to offer! I try to write here about once a month of my findings, but it can be hard with the limited internet connection that I experience. Thank you for reading, and I hope that you enjoy reading my blogs!</p>
</div>

{% spaceLink 'Stereo Helene' 'https://apod.nasa.gov/apod/ap240601.html' %}