body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: auto;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    background: #4fa7ff;
    border-radius: 50px;
}

h1 {
    font-size: 5em;
    letter-spacing: -2px;
}

h1 strong {
    background: linear-gradient(#4fa7ff, #060524);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    padding-bottom: 30px;
}

p {
    line-height: 1.4em;
}

#home_content {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#posts {
    display: inline-block;
    flex: 2;
    vertical-align: middle;
    padding-right: 90px;
}

#posts div {
    margin: 30px;
    border: 3px solid #212431;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.4em;
}

a{
    text-decoration: none;
    color: #EAE8FF;
}

#about_bar {
    display: inline-block;
    flex: 1;
    border-left: 2px solid #060524;
    padding: 0px 15px;
    vertical-align: middle;
}

#about_bar p {
    display: inline-block;
    width: 250px;
    text-align: center;
}

#john_pic_home {
    border-radius: 20px;
    margin: 30px;
}

.footer {
    margin-top: 100px;
    background: #212431;
    border-radius: 50px;
}
