body {
    font-family: "Poppins", serif;
    font-weight: 250;
    font-style: normal;
    color: #DCE1E9;
    background: #242038;
    padding: 0 40px;
    text-align: center;
    line-height: 1.7em;
    letter-spacing: 1.5px;
}

nav {
    margin: 40px auto 0 auto;
    width: auto;
    border-radius: 50px;
    background: #ABDF75;
    color: #242038;
    opacity: 70%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #242038;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    background: #FF6B6B;
    border-radius: 50px;
}

h1 {
    font-size: 5em;
    letter-spacing: -1px;
    line-height: 1.4em;
}

h1 strong {
    background: linear-gradient(#35605A, #FF6B6B);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    padding-bottom: 30px;
}

#home_content {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#posts {
    display: inline-block;
    flex: 2;
    vertical-align: middle;
    padding-right: 90px;
}

#posts div {
    margin: 30px;
    border: 3px solid #ABDF75;
    border-radius: 20px;
    padding: 20px;
}

a{
    text-decoration: none;
    color: #DCE1E9;
}

#about_bar {
    display: inline-block;
    flex: 1;
    border-left: 2px solid #ABDF75;
    padding: 0px 15px;
    vertical-align: middle;
}

#about_bar p {
    display: inline-block;
    width: 250px;
    text-align: center;
}

#john_pic_home {
    margin: 30px;
}

img {
    border-radius: 20px;
}

#about {
    display: flex;
    margin-left: 70px;
    margin-top: 100px;
}

#about_text {
    width: 600px;
    flex: 2;
    margin: 100px;
    border: 3px solid #ABDF75;
    border-radius: 20px;
    padding: 20px;
}

#pic_about {
    flex: 1;
}

.footer {
    margin-top: 100px;
    background: #ABDF75;
    border-radius: 50px;
    color: #242038;
    opacity: 70%;
}

.footer a {
    color: #242038;
}
